<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.brainvira_task">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="com.example.brainvira_task.view.AxxessApp"
        android:allowBackup="true"
        android:icon="@drawable/brainvire_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/brainvire_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:name,android:usesCleartextTraffic"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.brainvira_task.view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.brainvira_task.view.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarNoAction"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.brainvira_task.view.SearchItemDetails"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarNoAction"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.example.brainvira_task.view.RatesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarNoAction"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.brainvira_task.view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarNoAction"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>